In [1]:
import pandas as pd
import numpy as np
import pickle as pk
import json as js
import warnings
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split,\
ShuffleSplit, cross_val_score, GridSearchCV, KFold
from sklearn.linear_model import LinearRegression, Lasso

In [2]:
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('../database/cleaned_database.csv')

In [4]:
df.head(20)

,name,year,selling_price,km_driven,transmission,owner,seats,max_power (in bph),Mileage
0,Maruti,2014,450000,145500,Manual,First Owner,5,74.000,23.40
1,Hyundai,2010,225000,127000,Manual,First Owner,5,90.000,23.00
2,Hyundai,2017,440000,45000,Manual,First Owner,5,81.860,20.14
3,Toyota,2011,350000,90000,Manual,First Owner,5,67.100,23.59
4,Ford,2013,200000,169000,Manual,First Owner,5,68.100,20.00
5,Hyundai,2012,500000,53000,Manual,Second Owner,5,90.000,23.00
6,Maruti,2002,150000,80000,Manual,Second Owner,5,46.300,19.70
7,Hyundai,2016,680000,100000,Manual,First Owner,5,88.730,22.54
8,Mahindra,2011,174000,100000,Manual,Second Owner,5,64.100,21.00
9,Maruti,2012,600000,72000,Manual,First Owner,5,88.800,21.50
10,Tata,2018,500000,35000,Manual,First Owner,5,83.810,20.30
11,Maruti,2016,575000,45000,Manual,First Owner,5,83.100,21.40
12,Maruti,2018,850000,64000,Manual,First Owner,5,103.250,20.65
13,Tata,2011,265000,120000,Manual,First Owner,5,88.800,21.12
14,Hyundai,2011,190000,110000,Manual,Third Owner,5,78.900,20.36
15,Hyundai,2013,425000,60000,Manual,First Owner,5,88.760,21.27
16,Maruti,2019,650000,30000,Manual,First Owner,5,83.100,21.40
17,Volkswagen,2016,540000,40000,Manual,First Owner,5,108.495,22.00
18,Maruti,2018,448000,30000,Automatic,First Owner,5,67.000,20.51
19,Volkswagen,2017,500000,80000,Manual,First Owner,5,108.620,21.66

In [5]:
df.shape

(2084, 9)

In [6]:
df.rename(columns={'transmission': 'is_manual'}, inplace=True)

In [7]:
for i in range(df.shape[0]):
    if df['is_manual'][i] == 'Manual':
        df['is_manual'][i] = 1
    else:
        df['is_manual'][i] = 0

In [8]:
df.head(20)

,name,year,selling_price,km_driven,is_manual,owner,seats,max_power (in bph),Mileage
0,Maruti,2014,450000,145500,1,First Owner,5,74.000,23.40
1,Hyundai,2010,225000,127000,1,First Owner,5,90.000,23.00
2,Hyundai,2017,440000,45000,1,First Owner,5,81.860,20.14
3,Toyota,2011,350000,90000,1,First Owner,5,67.100,23.59
4,Ford,2013,200000,169000,1,First Owner,5,68.100,20.00
5,Hyundai,2012,500000,53000,1,Second Owner,5,90.000,23.00
6,Maruti,2002,150000,80000,1,Second Owner,5,46.300,19.70
7,Hyundai,2016,680000,100000,1,First Owner,5,88.730,22.54
8,Mahindra,2011,174000,100000,1,Second Owner,5,64.100,21.00
9,Maruti,2012,600000,72000,1,First Owner,5,88.800,21.50
10,Tata,2018,500000,35000,1,First Owner,5,83.810,20.30
11,Maruti,2016,575000,45000,1,First Owner,5,83.100,21.40
12,Maruti,2018,850000,64000,1,First Owner,5,103.250,20.65
13,Tata,2011,265000,120000,1,First Owner,5,88.800,21.12
14,Hyundai,2011,190000,110000,1,Third Owner,5,78.900,20.36
15,Hyundai,2013,425000,60000,1,First Owner,5,88.760,21.27
16,Maruti,2019,650000,30000,1,First Owner,5,83.100,21.40
17,Volkswagen,2016,540000,40000,1,First Owner,5,108.495,22.00
18,Maruti,2018,448000,30000,0,First Owner,5,67.000,20.51
19,Volkswagen,2017,500000,80000,1,First Owner,5,108.620,21.66

In [9]:
for i in range(df.shape[0]):
    if df['owner'][i] == 'First Owner':
        df['owner'][i] = 1
    elif df['owner'][i] == 'Second Owner':
        df['owner'][i] = 2
    elif df['owner'][i] == 'Third Owner':
        df['owner'][i] = 3
    else:
         df['owner'][i] = 4

In [10]:
df.head(20)

,name,year,selling_price,km_driven,is_manual,owner,seats,max_power (in bph),Mileage
0,Maruti,2014,450000,145500,1,1,5,74.000,23.40
1,Hyundai,2010,225000,127000,1,1,5,90.000,23.00
2,Hyundai,2017,440000,45000,1,1,5,81.860,20.14
3,Toyota,2011,350000,90000,1,1,5,67.100,23.59
4,Ford,2013,200000,169000,1,1,5,68.100,20.00
5,Hyundai,2012,500000,53000,1,2,5,90.000,23.00
6,Maruti,2002,150000,80000,1,2,5,46.300,19.70
7,Hyundai,2016,680000,100000,1,1,5,88.730,22.54
8,Mahindra,2011,174000,100000,1,2,5,64.100,21.00
9,Maruti,2012,600000,72000,1,1,5,88.800,21.50
10,Tata,2018,500000,35000,1,1,5,83.810,20.30
11,Maruti,2016,575000,45000,1,1,5,83.100,21.40
12,Maruti,2018,850000,64000,1,1,5,103.250,20.65
13,Tata,2011,265000,120000,1,1,5,88.800,21.12
14,Hyundai,2011,190000,110000,1,3,5,78.900,20.36
15,Hyundai,2013,425000,60000,1,1,5,88.760,21.27
16,Maruti,2019,650000,30000,1,1,5,83.100,21.40
17,Volkswagen,2016,540000,40000,1,1,5,108.495,22.00
18,Maruti,2018,448000,30000,0,1,5,67.000,20.51
19,Volkswagen,2017,500000,80000,1,1,5,108.620,21.66

In [11]:
dummies = pd.get_dummies(df.name)

In [12]:
dummies.head()

,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Tata,Toyota,Volkswagen
0,False,False,False,False,False,True,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False
4,False,True,False,False,False,False,False,False,False,False

In [13]:
df1 = pd.concat([df.drop('name', axis='columns'), dummies], axis='columns')

In [14]:
df1.head()

,year,selling_price,km_driven,is_manual,owner,seats,max_power (in bph),Mileage,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Tata,Toyota,Volkswagen
0,2014,450000,145500,1,1,5,74.00,23.40,False,False,False,False,False,True,False,False,False,False
1,2010,225000,127000,1,1,5,90.00,23.00,False,False,False,True,False,False,False,False,False,False
2,2017,440000,45000,1,1,5,81.86,20.14,False,False,False,True,False,False,False,False,False,False
3,2011,350000,90000,1,1,5,67.10,23.59,False,False,False,False,False,False,False,False,True,False
4,2013,200000,169000,1,1,5,68.10,20.00,False,True,False,False,False,False,False,False,False,False

In [15]:
X = df1.drop('selling_price', axis='columns')
y = df1.selling_price

In [16]:
x_train, x_test, y_train, y_test = train_test_split(
    X, y, test_size=0.05, random_state=20
)

In [17]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_test, y_test)

0.7557348875449053

In [18]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(estimator=LinearRegression(), X=X, y=y, cv=cv)

array([0.72898866, 0.72279864, 0.72928981, 0.77511115, 0.72186866])

In [19]:
models = {
    'LinearRegression': {
        'model': LinearRegression(),
        'params': {
            'positive': [False, True],
            'n_jobs': [1, 3, 6, 9, 12]
        }
    },
    'DecisionTreeClassifier': {
        'model': DecisionTreeClassifier(),
        'params': {
            'splitter': ['best', 'random'],
            'criterion': ['gini', 'log_loss', 'entropy']
        }
    },
    'Lasso': {
        'model': Lasso(),
        'params': {
            'alpha': [1.0, 2.0],
            'selection': ['random', 'cyclic']
        }
    }
}

In [20]:
cv = KFold(n_splits=5, shuffle=True, random_state=0)

In [21]:
scores = []
for model_name, mp in models.items():
    G = GridSearchCV(estimator=mp['model'], param_grid=mp['params'],
                     cv=cv, return_train_score=False, error_score='raise')
    G.fit(X, y)
    scores.append({
        'model_name': model_name,
        'best_score': G.best_score_,
        'best_params': G.best_params_
    })

In [22]:
GRResult = pd.DataFrame(scores, columns=['model_name','best_score','best_params'])

In [23]:
GRResult

,model_name,best_score,best_params
0,LinearRegression,0.743160,"{'n_jobs': 1, 'positive': False}"
1,DecisionTreeClassifier,0.046070,"{'criterion': 'gini', 'splitter': 'random'}"
2,Lasso,0.743167,"{'alpha': 2.0, 'selection': 'random'}"

In [24]:
model = LinearRegression(n_jobs=1, positive=False)

In [25]:
model.fit(X, y)
model.score(X, y)

0.7501045694081311

In [26]:
def predict_price_of_car(name, year, km_driven, is_manual, owner, seats, max_power, Mileage):
    name_column_index = np.where(X.columns==name)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = year
    x[1] = km_driven
    x[2] = is_manual
    x[3] = owner
    x[4] = seats
    x[5] = max_power
    x[6] = Mileage
    x[name_column_index] = 1
    return model.predict([x])[0]

In [27]:
print(predict_price_of_car('Maruti', 2014, 145500, 1, 1, 5, 74, 23.40))
print(predict_price_of_car('Hyundai', 2017, 45000, 1, 1, 5, 81.86, 20.14))
print(predict_price_of_car('Toyota', 2011, 90000, 1, 1, 5, 67.10, 23.59))
print(predict_price_of_car('Ford', 2013, 169000, 1, 1, 5, 68.10, 20.00))

384817.2948041484
546339.2668970227
382045.25394587964
338821.58804357797

In [28]:
df.head()

,name,year,selling_price,km_driven,is_manual,owner,seats,max_power (in bph),Mileage
0,Maruti,2014,450000,145500,1,1,5,74.00,23.40
1,Hyundai,2010,225000,127000,1,1,5,90.00,23.00
2,Hyundai,2017,440000,45000,1,1,5,81.86,20.14
3,Toyota,2011,350000,90000,1,1,5,67.10,23.59
4,Ford,2013,200000,169000,1,1,5,68.10,20.00